<kontext>
    <global>
        <manatee_path>/opt/lindat/nosketch/manatee-open/manatee-open-2.83.3</manatee_path>
        <log_path>/opt/lindat/kontext/log/kontext.log</log_path>
        <debug>true</debug>
        <max_attr_list_size>30</max_attr_list_size>
        <administrators extension-by="ucnk">
            <user>johndoe</user>
            <user>janedoe</user>
        </administrators>
        <fonts>
            <item>http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700&amp;subset=latin-ext</item>
        </fonts>
        <translations>
            <language label="česky">cs</language>
            <language label="English">en</language>
            <language label="slovensky">sk</language>
        </translations>
        <conc_persistence_time>1800</conc_persistence_time>
        <error_report_url>http://acmecorpora.org/support</error_report_url>
    </global>

    <plugins>
        <db>
            <module>ucnk_db</module>
            <name extension-by="ucnk">lindat-kontext</name>
            <host extension-by="ucnk">localhost</host>
            <password extension-by="ucnk">vagrant</password>
            <username extension-by="ucnk">vagrant</username>
        </db>
        <auth>
            <module>lindat_auth</module>
            <auth_cookie_name>lindatsessionid</auth_cookie_name>
            <login_url>#login</login_url>
            <logout_url>#logout</logout_url>
            <central_auth_cookie_name extension-by="ucnk">lindat_toolbar_sid</central_auth_cookie_name>
        </auth>
       <appbar>
            <module>lindat_appbar</module>
            <server></server>
            <css_url>../files/themes/lindat/public/css/lindat.css</css_url>
            <css_url_ie></css_url_ie>
        </appbar>
        <footbar>
            <module>lindat_footbar</module>
            <server></server>
            <css_url></css_url>
            <css_url_ie></css_url_ie>
        </footbar>
        <getlang>
            <module>ucnk_getlang</module>
            <cookie extension-by="ucnk">cnc_toolbar_lang</cookie>
            <fallback_lang extension-by="ucnk">cs_CZ</fallback_lang>
        </getlang>
        <query_storage>
            <module>acme_query_storage</module>
            <db_path extension-by="ucnk">/var/www/korpus/db/korpus.db</db_path>
            <num_kept_records extension-by="ucnk">5</num_kept_records>
        </query_storage>
        <settings_storage>
            <module>ucnk_settings_storage</module>
        </settings_storage>
        <sessions>
            <module>ucnk_sessions</module>
            <ttl>14400</ttl>
            <cleanup_probability>0.9</cleanup_probability>
            <db_path extension-by="ucnk">/var/www/sessions.db</db_path>
        </sessions>
        <corptree>
            <module>corptree</module>
            <file>../config.xml</file>
            <root_elm_path>//corpora/corplist</root_elm_path>
        </corptree>
    </plugins>
    <cache>
        <clear_interval>3600</clear_interval>
    </cache>
    <corpora>
        <manatee_registry>/opt/lindat/kontext-data/registry</manatee_registry>
        <options_dir>/opt/lindat/kontext-data/registry/options</options_dir>
        <cache_dir>/opt/lindat/kontext-data/cache</cache_dir>
        <subcpath>/opt/lindat/kontext-data/subcorp/GLOBAL</subcpath>
        <users_subcpath>/opt/lindat/kontext-data/subcorp</users_subcpath>
        <tags_src_dir>/opt/lindat/kontext-data/tags/data</tags_src_dir>
        <tags_cache_dir>/opt/lindat/kontext-data/tags/cache</tags_cache_dir>
        <conc_dir>/opt/lindat/kontext-data/conc</conc_dir>
        <wseval_dir></wseval_dir>
        <helpsite>https://trac.sketchengine.co.uk/wiki/SkE/Help/PageSpecificHelp/</helpsite>
        <default_corpora>
            <item>ovm_cs_w</item>
        </default_corpora>
        <speech_files_path>/opt/lindat/kontext-data/speech</speech_files_path>
        <kwicline_max_context>500</kwicline_max_context>
        <use_db_whitelist>1</use_db_whitelist>
        <empty_attr_value_placeholder>[empty]</empty_attr_value_placeholder>
        <multilevel_freq_dist_max_levels>10</multilevel_freq_dist_max_levels>

        <corplist title="">
    
            <corplist title="LINDAT speech corpora">
                <corpus id="ovm_cs_w" sentence_struct="seg" num_tag_pos="16" keyboard_lang="cs" repo="http://hdl.handle.net/11858/00-097C-0000-000D-EC98-3" speech_segment="seg.soundfile"/>
            </corplist>
            
        </corplist>


        <tagsets>
            <tagset position="0">
                <label>
                    <desc lang="en">Position 1</desc>
                    <desc lang="cs">Pozice 1</desc>
                </label>
                <value id="A">
                    <desc lang="en">adjective</desc>
                    <desc lang="cs">adjektivum (přídavné jméno)</desc>
                </value>
                <!-- ... etc ... -->
            </tagset>
            <!-- ... etc ... -->
        </tagsets>
    </corpora>
</kontext>

